<!DOCTYPE html>
<html>

<head>
	<title>
		Siw volleyball - Admin
	</title>
	<link rel="stylesheet" href="/css/stile.css" />
</head>

<body background="/images/sfondoRosso.jpg" style="background-size: cover;">
	
	<div id="loginMenu">
		<img src="/images/logo1.png" alt="Logo" class="logo">
	<h1 class="custom-title">  HOMEPAGE ADMIN </h1> 
	<h2 style="font-family: Arial, Helvetica;"> gestisci la federazione: </h2>
	<div class="signup-text">
	<p>
		<strong> <a href="/admin/formNewGiocatore"> Aggiungi un nuovo giocatore nel sistema </a> </strong>
	</p>
	<p>
		<strong> <a href="/admin/formNewPresidente"> Aggiungi un nuovo presidente nel sistema </a> </strong>
	</p>
	<p>
		<strong> <a href="/admin/formNewSquadra"> Aggiungi una nuova squadra </a> </strong>
	</p>
	<p>
		<strong> <a href="/admin/squadre"> Visualizza tutte le squadre </a></strong> 
	</p>
	</div>
	<p>
	 <a href="/logout" class="button" th:text="'Logout'">  </a> 
	</p>
	</div>
</body>

</html>