<!DOCTYPE html>
<html>

<head>
	<title>
		Siw volleyball - Presidente
	</title>
	<link rel="stylesheet" href="/css/stile.css" />
</head>

<body background="/images/sfondoRosso.jpg" style="background-size: cover;">
	<div id="loginMenu">
		<img src="/images/logo1.png" alt="Logo" class="logo">
	<h1 class="custom-title">  HOMEPAGE PRESIDENTE </h1> 
	<div class="signup-text">
	<h2 style="font-family: Arial, Helvetica;"> gestisci la tua squadra: </h2>
		<p>
		<strong> <a href="/presidente/formNewTesseramento"> Nuovo tesseramento - aggiungi un nuovo giocatore alla squadra </a> </strong>
	</p>
	<p>
		<strong> <a href="/presidente/cancellaGiocatore"> Cancella un giocatore dalla squadra </a> </strong>
	</p>
	</div>
	<p>
		<a href="/logout" class="button" th:text="'Logout'"></a> 
	</p>
	</div>
</body>

</html>